<h1>Экспорт</h1>

<div class="list-group">
  <%= link_to 'Вопросы', questions_admin_exports_path(format: 'csv'), class: 'list-group-item' %>
  <%= link_to 'Пользователи', users_admin_exports_path(format: 'csv'), class: 'list-group-item' %>
</div>
