<h1>Настройки</h1>

<div class="list-group">
  <%= link_to 'Экспорт', admin_exports_path, class: 'list-group-item' %>
  <%= link_to 'Алгоритм совпадения', admin_merge_groups_path, class: 'list-group-item' %>
  <%= link_to 'Критерии смены распределения', '#', class: 'list-group-item' %>
</div>
